.App {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title{
  text-align: center;
}

#logo{
  height: 10vw;
}

.Logo{
  text-align: center;
  margin-top: 2%;
}

th{
  font-size: 2em;
  margin-left: 7em;
  margin-right: 7em;
}

table{
  outline-color: black;
  outline: 3px;
  margin-left: auto;
  margin-right: auto;
}

input{
  margin: 5%;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  width: 15vw;
  z-index: 100;
  padding: 50px 0 0;
  background-color: #003989;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:bold;
}

.sidebar a{
  color: #ffffff;
  text-decoration: none;
}

.sidebar a:hover{
  background-color: #8503c2;
  text-decoration: none;
}

.toolbar-content {
  height:100%;
  padding: 20px;
}

.toolbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.toolbar-body {
  overflow-y: auto;
  height: calc(100% - 60px);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.close-btn {
  background-color: red;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

Calgrid{
  margin-left: 300vw;
}